html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(127, 172, 255);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.logo a {
    text-decoration: none;
    color: white;
}
.menu {
    width: 15%;
    background-color: rgb(5, 108, 108);
    padding: 10px 20px 0px;
}
.menu_list {
    margin-top: 50px;
}
.menu ul li {
    list-style-type: none;
    font-size: 20px;
    text-align: left;
    line-height: 50px;
}
.menu ul li a {
    text-decoration: none;
    color: white;
}
.menu ul li a:hover {
    color: aqua;
}
.header {
    min-height: 150px;
}
.header_img {
    width: 300px;
    height: 200px;
}
.header_title {
    margin-bottom: 100px;
    text-shadow: 4px 4px 4px white;
    color: rgb(0, 0, 0);
}
.header_title h1 {
    font-size: 50px;
}
.header_title p {
    text-decoration: underline;
    font-size: 30px;
}

.content {
    background-color: #e7e7e7;
    min-height: 300px;
    padding: 20px;
}
.content h2 {
    text-align: center;
    font-size: 30px;
}
.content p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(6, 6, 75);
}
.content table {
    text-align: center;
    box-shadow: 3px 3px 3px black;
}
.content table caption {
    font-size: 25px;
}
.tb_header {
    background-color: rgb(3, 3, 44);
    color: white;
}
.content table tr:nth-child(even) td {
    background-color: #ccc;
}
.footer {
    background-color:  rgb(146, 223, 223);
    min-height: 150px;
}
.contatos {
    font-size: 12px;
    color: #000000;
    text-align: left;
}
.copyright {
    color: white;
    text-align: center;
    padding: 2px;
    background-color: rgb(11, 11, 31);
}